<div class="wrapper">
  <div class="fixed">
    <agm-map #gm [scrollwheel]="false" [zoom]="14" [latitude]="lat" [longitude]="lng">
      <agm-marker
        *ngFor="let location of locations"
        (markerClick)="onClick(location.coordinates, infoWindow._id)"
        (mouseOver)="mouseOver(infoWindow)"
        (mouseOut)="mouseOut(infoWindow)"
        [latitude]="location.coordinates.latitude"
        [longitude]="location.coordinates.longitude"
        (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">
        [title]="location.name">
          <agm-info-window #infoWindow>{{location.name}}</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
