<div class="hero">
  <div class="background"></div>
    <div class="columns" >
      <div class="column is-8 is-4-desktop is-offset-4-desktop is-offset-2">
        <div class="field has-addons">
          <div class="control search-field">
            <form (submit)="onSearch()"> 
            <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" class="input" type="text" placeholder="Search by location">
            </form>
          </div>
          <div class="control">
            <a (click)="onSearch()" class="button is-info">
              <span class="icon is-small is-right">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
