<nav class="navbar">
  <div class="navbar-brand">
    <h1 class="navbar-item logo">Logo</h1>

    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
    </div>
    <div class="navbar-end">
      <a *ngIf="auth.loggedIn()" class="navbar-item" routerLink="/profile" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
        Profile
      </a>
      <a *ngIf="!auth.loggedIn()" class="navbar-item" routerLink="/login" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
        Login
      </a>
      <a *ngIf="auth.loggedIn()" class="navbar-item" (click)="onLogoutClick()">
        Logout
      </a>
      <a *ngIf="!auth.loggedIn()" class="navbar-item" routerLink="/register" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
        Register
      </a>
    </div>
  </div>
</nav> 
