<article class="media columns">
  <figure class="media-left column is-4 ">
    <p class="image ">
      <img class="thumbnail" src="{{location.image_url}}">
    </p>
  </figure>
  <div class="media-content column is-8">
    <div class="content">
      <p>
        <strong>{{location.name}}</strong> <small>{{location.phone}}</small>
        <br>
        Lorem ipsum dolor sem. Etiam finibus odio quis feugiat facilisis.
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
</article>  
