<article class="media columns">
  <figure class="media-left column is-4 ">
    <p class="image ">
      <img class="thumbnail" src="{{location.image_url}}">
    </p>
  </figure>
  <div class="media-content column is-8">
    <div class="content">
      <strong>{{index+1}}. {{location.name}} </strong>
      <span class="icon">
        <i *ngIf="!alreadyVoted" [ngClass]="userLoggedIn ? 'active' : 'disabled'" (click)="addUserToBar()" class="attend-button fa fa-plus-circle"></i>
        <i *ngIf="alreadyVoted" (click)="removeUserFromBar()" class="remove-button fa fa-minus-circle"></i>
      </span>
      <span class="guest-wrapper" > <small class="guest-counter--outer" >(<u><span *ngIf="location.attendees">{{location.attendees.length}}</span> going</u>)</small>
<span *ngIf="location.attendees && location.attendees.length" class="tag guests is-primary">
  {{location.attendees.join(", ")}}
</span>
</span>

      <br>
      <small> view on <a href="{{location.url}}" target="_blank">yelp.com <span class="icon is-small"><i class="fa fa-external-link"></i></span></a></small>
      <br>
      <br>
      <div class="columns">
        <div class="column is-6">
          <span class="icon is-small"><i class="fa fa-phone"></i></span> <small>{{location.phone}}</small>
          <br>
          <span class="icon is-small"><i class="fa fa-map-marker"></i></span> <small>{{location.location.address1}}</small>
        </div>
        <div class="column is-6">
          <small>Rating: {{location.rating}}</small>
          <br>
          <small>Price Range: {{location.price}}</small>
        </div>
      </div>
    </div>
  </div>
</article>
